.food{
    float: left;
    padding: 10px 10px;
    width: 30%;
}

img{
    height: 300px;
    width: 300px;
}

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    padding: 2em;
    min-width: 20em;
    max-width: 70%;
    color: black;
    background-color: #fff;
    border-radius: 1em;
    transform: translate(-50%, -50%);
    outline: transparent;
  }